{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- Here you can start typing the logic for your index template --}}
<header>
    <h2>
        {{> "logo"}}
    </h2>    
</header>

<main>
    {{!-- Everything inside the #author tags pulls data from the author --}}
    {{#author}}
        <header>
            {{#if profile_image}}
                <figure>
                    <img src="{{img_url profile_image}}" alt="{{name}}">
                </figure>
            {{/if}}

            <h1>{{name}}'s Posts</h1>

            {{#if bio}}
                <p>{{bio}}</p>
            {{/if}}

            <dl>
                {{#if location}}
                    <dt>Location</dt>
                    <dd>{{location}}</dd>
                {{/if}}

                <dt>Links</dt>
                {{#if website}}
                    <dd>
                        <a target="_blank" href="{{website}}">Website</a>
                    </dd>
                {{/if}}
                {{#if facebook}}
                    <dd>
                        <a target="_blank" href="{{facebook_url}}">Facebook</a>
                    </dd>
                {{/if}}
                {{#if twitter}}
                    <dd>
                        <a target="_blank" href="{{twitter_url}}">Twitter</a>
                    </dd>
                {{/if}}
                <dd>
                    <a target="_blank" href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/">RSS</a>
                </dd>
            </dl>
        </header>
    {{/author}}

    <hr>

    {{#foreach posts}}
        {{!-- The tag below includes the markup for each post - partials/post-card.hbs --}}
        {{> "post-card"}}
    {{/foreach}}
</main>
